## Seattle Terry Stops Model
This is the the third workbook for the Seattle Terry Stops project. In this part our objectives will be to:
* creating the best model that predicts the likelihood of an arrest during a Terry Stop

## Loading the data
Let us start by loading the data we will use for this process.

In [2]:
# Importing the relevant libraries and modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import precision_score, recall_score, accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import confusion_matrix, f1_score
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings('ignore')

In [6]:
# Loading the data
df = pd.read_csv('data/clean_Terry_stops_dummies.csv')
# df.drop('Unnamed: 0', axis=1, inplace=True)
df.describe()

,weapon_type,officer_id,officer_race,subject_perceived_race,initial_call_type,final_call_type,call_type,precinct,sector,beat,incident_year,incident_month,officer_age
count,47038.000000,47038.000000,47038.000000,47038.000000,47038.000000,47038.000000,47038.000000,47038.000000,47038.000000,47038.000000,47038.000000,47038.000000,47038.000000
mean,3.207364,747.818190,5.656724,4.449254,106.012543,72.620753,0.862771,2.601174,8.303138,25.079765,4.191292,6.421149,13.163442
std,3.869788,300.289007,2.289589,2.775514,54.449820,36.576066,1.109185,1.928942,5.156242,14.285145,2.590837,3.325632,8.107626
min,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,-1.000000,554.000000,5.000000,1.000000,48.000000,45.000000,0.000000,1.000000,4.000000,12.000000,2.000000,4.000000,7.000000
50%,7.000000,770.000000,7.000000,5.000000,121.000000,89.000000,0.000000,2.000000,8.000000,25.000000,4.000000,6.000000,11.000000
75%,7.000000,1000.000000,7.000000,7.000000,155.000000,100.000000,2.000000,5.000000,13.000000,37.000000,6.000000,9.000000,17.000000
max,7.000000,1309.000000,7.000000,7.000000,179.000000,194.000000,3.000000,5.000000,18.000000,51.000000,9.000000,12.000000,50.000000

The data we are using for this process has 47000 rows as compared to the same data we used for the EDA. This is because this data is specifically meant for modelling and is tediously cleaned.

In [7]:
# Getting the info of our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47038 entries, 0 to 47037
Data columns (total 35 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   weapon_type                                   47038 non-null  int64
 1   officer_id                                    47038 non-null  int64
 2   officer_race                                  47038 non-null  int64
 3   subject_perceived_race                        47038 non-null  int64
 4   initial_call_type                             47038 non-null  int64
 5   final_call_type                               47038 non-null  int64
 6   call_type                                     47038 non-null  int64
 7   precinct                                      47038 non-null  int64
 8   sector                                        47038 non-null  int64
 9   beat                                          47038 non-null  int64
 10  incident_year                                 47038 non-null  int64
 11  incident_month                                47038 non-null  int64
 12  officer_age                                   47038 non-null  int64
 13  12am_6am                                      47038 non-null  bool
 14  7am_12pm                                      47038 non-null  bool
 15  1pm_6pm                                       47038 non-null  bool
 16  7pm_11pm                                      47038 non-null  bool
 17  officer_gender_M                              47038 non-null  bool
 18  subject_perceived_gender_M                    47038 non-null  bool
 19  subject_perceived_gender_Unable to Determine  47038 non-null  bool
 20  subject_perceived_gender_Unknown              47038 non-null  bool
 21  arrest_flag_Y                                 47038 non-null  bool
 22  frisk_flag_Y                                  47038 non-null  bool
 23  dif_race_True                                 47038 non-null  bool
 24  dif_gender_True                               47038 non-null  bool
 25  dif_race_gender_Y                             47038 non-null  bool
 26  repeat_offenders_Yes                          47038 non-null  bool
 27  subject_age_group_1_17                        47038 non-null  bool
 28  subject_age_group_26_35                       47038 non-null  bool
 29  subject_age_group_36_45                       47038 non-null  bool
 30  subject_age_group_46_55                       47038 non-null  bool
 31  subject_age_group_56_up                       47038 non-null  bool
 32  subject_age_group_Unknown                     47038 non-null  bool
 33  field_contact_y                               47038 non-null  bool
 34  offense_report_y                              47038 non-null  bool
dtypes: bool(22), int64(13)
memory usage: 5.7 MB

Our dataset contains 47038 rows and 35 columns.